.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-right: 15px;
  min-width: 110px;
}

.text {
  font-size: 24px;
  font-weight: 500;
}

.image {
  width: 90px;
}

.red {
  color: red;
}

.green {
  color: green;
}
